/* Index 页面样式 */
/* 轮播图样式 */
.swiper-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* 导航网格样式 */
.nav-grid-container .adm-grid-item>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  img {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
  }

  span {
    font-size: 12px;
  }

}